body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



/*================================================================================================================================================*/
#L-Main {
	background-color: gray;
}

#L-Header {
	width: 100%;
	background-color: blue;
	position: fixed !important;
	height: 120px;
	transition: 0.6s;
}
.L-Min-Header {
	height: 60px !important;
	transition: 0.6s;
}

#L-LeftSideBar {
	padding-top: 120px;
	background-color: yellow;
	width: 360px;
	min-height: 400px;
	float: left;
}

#L-Contents {
	padding-top: 120px;
	margin-left: 360px;
	background-color: green;
	min-height: 600px;
}

.L-Padding-Top-60 {
	padding-top: 120px !important;
}